.ticket {
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
	padding: 20px;
	@media (max-width: 399.98px) {
		padding: 15px;
	}
}
.ticket-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	@media (max-width: 399.98px) {
		margin-bottom: 10px;
	}
}

.ticket-price {
	color: #2196f3;
	font-size: 24px;
	font-weight: 600;
	@media (max-width: 399.98px) {
		font-size: 22px;
	}
}

.ticket-logo {
	height: 36px;
	width: 99px;
}

.ticket-data {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	@media (max-width: 399.98px) {
		column-gap: 10px;
	}
}

.ticket-info {
	font-weight: 600;
	line-height: 1.5;
}

.ticket-label {
	color: #a0b0b9;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	@media (max-width: 399.98px) {
		font-size: 10px;
	}
}

.ticket-text {
	color: #4a4a4a;
	font-size: 14px;
	@media (max-width: 399.98px) {
		font-size: 12px;
	}
}
