@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap);

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Open Sans";
	background-color: #f3f7fa;
}

input,
button,
textarea {
	font-family: "Open Sans";
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.aviaseals-container {
	max-width: 784px;
	margin: 0 auto;
	padding: 30px 15px 50px;
	box-sizing: border-box;
	@media (max-width: 767.98px) {
		padding: 20px 15px 30px;
	}
}

.main-logo {
	text-align: center;
	margin-bottom: 30px;
	@media (max-width: 767.98px) {
		margin-bottom: 10px;
	}
}

.aviaseals-main {
	@media (min-width: 767.98px) {
		display: flex;
		column-gap: 20px;
	}
}

.content {
	@media (min-width: 767.98px) {
		flex: 1 1 auto;
	}
}
